/* 暗黑模式变量 */
:root[data-theme='dark'] {
  --color-primary: #337ecc;
  --color-success: #529b2e;
  --color-warning: #b88230;
  --color-danger: #c45656;
  --color-info: #73767a;
  --background: #181818;
  --text-color: #e5eaf3;
}
